## 1. Thêm thư viện

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 2. Tiền xử lý và khám phá dữ liệu

In [2]:
raw_df = pd.read_csv('../data/customer_feedback.csv')
raw_df

,Date published,Name,Review_header,Review_body,Verified_review,Type_of_traveller,Seat_type,Route,Date_flown,Aircraft,Seat_comfort,Cabin_staff_service,Food_and_beverages,Inflight_entertainments,Ground_service,Value_for_money,Wifi_and_connectivity,Overall_rating,Recommended
0,2023-12-21,T Maddern,“I couldn’t fault them”,This was our first flight with British Airways...,Trip Verified,Family Leisure,Business Class,London Heathrow to Stockholm,December 2023,A329,4.0,5.0,5.0,NaN,5.0,5,NaN,10,yes
1,2023-12-21,K Pearson,“incompetence in customer service”,I recently encountered a highly disappointing ...,Trip Verified,Solo Leisure,Economy Class,Indianapolis to Mumbai via London Heathrow,December 2023,NaN,1.0,1.0,NaN,NaN,1.0,1,NaN,1,no
2,2023-12-20,C Shaw,“The most ridiculous thing I've heard”,Beware! BA don't provide any refund due to a v...,Not Verified,Family Leisure,Premium Economy,Cyprus to New York,December 2023,NaN,NaN,NaN,NaN,NaN,1.0,1,NaN,1,no
3,2023-12-20,C Horner,"""one of the most disgusting onboard meals""",Check in was chaotic and badly organised. Even...,Trip Verified,Solo Leisure,Business Class,Gran Canaria to London Gatwick,December 2023,A321,3.0,4.0,1.0,NaN,3.0,5,NaN,6,yes
4,2023-12-18,C Lowe,“Does BA pay experts to design these breakfasts”,All 4 of our flights were fine in terms of com...,Not Verified,Couple Leisure,Business Class,Belfast City to Atlanta via London Heathrow,November 2023,A320/Boeing 777,4.0,5.0,1.0,3.0,5.0,5,NaN,6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2015-05-20,D Chamberlain,British Airways customer review,LHR to Istanbul - excellent service on the out...,Unknown,NaN,Business Class,NaN,NaN,NaN,4.0,4.0,4.0,2.0,NaN,4,NaN,8,yes
2996,2015-05-20,D Chamberlain,British Airways customer review,Brilliant service from the cabin crew and Capt...,Unknown,NaN,Business Class,NaN,NaN,NaN,4.0,5.0,5.0,1.0,NaN,3,NaN,6,yes
2997,2015-05-20,W Coenik,British Airways customer review,Business class. Scheduled to fly from Rome to ...,Unknown,NaN,Business Class,NaN,NaN,NaN,4.0,5.0,5.0,3.0,NaN,4,NaN,10,yes
2998,2015-05-20,P Evans,British Airways customer review,BA seem to be trying harder ground customer se...,Unknown,NaN,Premium Economy,NaN,NaN,NaN,4.0,5.0,4.0,2.0,NaN,5,NaN,8,yes
2999,2015-05-20,S Carver,British Airways customer review,Madrid-London City return. Excellent experienc...,Unknown,NaN,Business Class,NaN,NaN,NaN,5.0,5.0,5.0,3.0,NaN,5,NaN,10,yes

### 2.1 Định dạng lại tên cột
- Đổi định dạng tên cột `Date published` thành `Date_published` để cùng định dạng tên với các cột còn lại.

In [3]:
raw_df = raw_df.rename(columns={'Date published': 'Date_published'})

### 2.2 Số lượng dòng và cột trong tập dữ liệu là bao nhiêu?

In [4]:
shape = raw_df.shape
nrows = shape[0]
ncols = shape[1]

print(f'Số lượng dòng: {nrows}')
print(f'Số lượng cột: {ncols}')

Số lượng dòng: 3000
Số lượng cột: 19

### 2.3 Khám phá dòng

#### 2.3.1 Mỗi dòng mang ý nghĩa gì? Có dòng nào mang ý nghĩa khác không?
- Mỗi dòng cho biết thông tin chuyến bay và đánh giá của một hành khách về chuyến bay đó của hãng hàng không British Airways.
- Nhìn vào bảng dữ liệu chúng ta thấy không có dòng nào mang ý nghĩa khác.

#### 2.3.2 Có dòng nào bị trùng lắp thông tin không?

In [5]:
num_duplicate_rows = raw_df.duplicated().sum()

print(f'Số lượng dòng bị trùng lắp: {num_duplicate_rows}')

Số lượng dòng bị trùng lắp: 0

### 2.4 Khám phá cột

#### 2.4.1 Mỗi cột mang ý nghĩa gì?

In [6]:
col_meaning_df = pd.read_csv('../data/schema.csv', index_col='Column')
col_meaning_df

                                                                   Meaning
Column
Date_published                            thời gian bài đánh giá được đăng
Name                                               tên hành khách đánh giá
Review_header                                         tiêu đề bài đánh giá
Review_body                                          nội dung bài đánh giá
Verified_review                  đánh giá được xác minh/chưa được xác minh
Type_of_traveller                                       loại khách du lịch
Seat_type                                                    loại chỗ ngồi
Route                                                      tuyến đường bay
Date_flown                                              ngày khởi hành bay
Air craft                                                     loại máy bay
Seat_comfort                                          đánh giá về chỗ ngồi
Cabin_staff_service           đánh giá về chất lượng phục vụ của nhân viên
Food_and_beverages                          đánh giá về thức ăn và đồ uống
Inflight_entertainments      đánh giá về các dịch vụ giải trí trên máy bay
Ground_service                đánh giá về các dịch vụ diễn ra trên mặt đất
Value_for_money                          mức độ hài lòng với số tiền bỏ ra
Wifi_and_connectivity         mức độ hài lòng về Wifi và khả năng kết nối
Overall_rating                                          đánh giá tổng quan
Recommended              gợi ý/không gợi ý hãng hàng không British Airways

#### 2.4.2 Có cột nào bị trùng lắp thông tin không?
- Nhìn vào bảng dữ liệu chúng ta thấy không có cột nào bị trùng lắp thông tin, mỗi cột đều mang một ý nghĩa khác nhau.

#### 2.4.3 Xem thông tin tổng quát của từng cột

In [7]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date_published           3000 non-null   object
 1   Name                     3000 non-null   object
 2   Review_header            3000 non-null   object
 3   Review_body              3000 non-null   object
 4   Verified_review          3000 non-null   object
 5   Type_of_traveller        2950 non-null   object
 6   Seat_type                2998 non-null   object
 7   Route                    2946 non-null   object
 8   Date_flown               2943 non-null   object
 9   Aircraft                 1934 non-null   object
 10  Seat_comfort             2884 non-null   float64
 11  Cabin_staff_service      2872 non-null   float64
 12  Food_and_beverages       2611 non-null   float64
 13  Inflight_entertainments  1852 non-null   float64
 14  Ground_service           2875 non-null   float64
 15  Value_for_money          3000 non-null   int64
 16  Wifi_and_connectivity    617 non-null    float64
 17  Overall_rating           3000 non-null   int64
 18  Recommended              3000 non-null   object
dtypes: float64(6), int64(2), object(11)
memory usage: 445.4+ KB

#### 2.4.4 Loại bỏ cột có phần trăm dữ liệu bị thiếu cao (lớn hơn 70%)
- Cột `Wifi_and_connectivity` có phần trăm dữ liệu bị thiếu xấp xỉ `79%`, cần loại bỏ cột này.

In [8]:
raw_df = raw_df.drop(columns='Wifi_and_connectivity')

#### 2.4.5 Chuyển đổi dữ liệu sang kiểu phù hợp
- Các cột `Date_published` và `Date_flown` có kiểu dữ liệu **object**, cần đổi về kiểu dữ liệu **datetime**.

In [9]:
# Convert sang datetime
raw_df['Date_published'] = pd.to_datetime(raw_df['Date_published'], format='%Y-%m-%d')
raw_df['Date_flown'] = pd.to_datetime(raw_df['Date_flown'], format='%B %Y')

#### 2.4.6 Xử lý chuỗi
- Các giá trị trong cột `Route` cần được tách và lấy ra các thông tin cần thiết. Ví dụ: `Miami to Zurich via London` tách thành [Miami, Zurich, London].
- Không thể xử lý được toàn bộ các giá trị trong cột `Aircraft` do dữ liệu được ghi ở nhiều định dạng khác nhau. Việc bỏ đi cột `Aircraft` không làm ảnh hưởng nhiều đến việc phân tích và dự đoán sau này do cột này không mang lại nhiều thông tin có giá trị.

In [10]:
# Tách chuỗi trong cột Route
raw_df['Route'] = raw_df['Route'].str.split(r'\s*to\s*|\s*via\s*', regex=True)

# Drop cột Aircraft
raw_df = raw_df.drop(columns='Aircraft')

# Xem lại thông tin dữ liệu
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date_published           3000 non-null   datetime64[ns]
 1   Name                     3000 non-null   object
 2   Review_header            3000 non-null   object
 3   Review_body              3000 non-null   object
 4   Verified_review          3000 non-null   object
 5   Type_of_traveller        2950 non-null   object
 6   Seat_type                2998 non-null   object
 7   Route                    2946 non-null   object
 8   Date_flown               2943 non-null   datetime64[ns]
 9   Seat_comfort             2884 non-null   float64
 10  Cabin_staff_service      2872 non-null   float64
 11  Food_and_beverages       2611 non-null   float64
 12  Inflight_entertainments  1852 non-null   float64
 13  Ground_service           2875 non-null   float64
 14  Value_for_money          3000 non-null   int64
 15  Overall_rating           3000 non-null   int64
 16  Recommended              3000 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 398.6+ KB